/* Main container holding both attraction cards and the search bar */
.attractions-main-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 40px 0 40px;
  align-items: flex-start; /* Aligns the children to the left */
}

.attraction-main-container {
  justify-content: space-between;
  padding: 80px 40px 0 40px;
  align-items: flex-start; /* Aligns the children to the left */
}

.map {
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center; /* Центрирует по вертикали */
  height: 100%; /* Убедитесь, что у контейнера есть высота */
}

.discussion-main-container {
  padding: 0 40px 0 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.popup {
  background-color: white;
  border: 1px solid #d1d1d1; /* Grey border */
  border-radius: 8px;
  overflow: hidden; /* Prevents image overflow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures space is distributed correctly */
  position: relative;
  transition: transform 0.2s;
  height: auto; /* Remove fixed height and let the card expand with content */
}

.popup button {
  border-radius: 4px;
  margin: 4px 0;
}

.discussion-card {
  margin: 10px 0 20px 0;
}

.attractions-container, .my-attraction-container {
  flex: 3; /* Takes up 75% of the container width */
  text-align: center;
  overflow-y: auto; /* Ensures content is scrollable if it overflows vertically */
}

.leave-discussion-container {
  width: 100%;
  display: flex;
  justify-content: right; /* Centers the button horizontally */
}

.leave-discussion {
  margin: 0 0 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.discussion-part {
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
}

/* Attraction card container with proper height and structure */
.cards-container {
  display: grid;
  grid-template-columns: 1fr; /* One card per row */
  gap: 20px;
  margin-top: 20px;
}

.attraction-card, .discussion-card {
  background-color: white;
  border: 1px solid #d1d1d1; /* Grey border */
  border-radius: 8px;
  overflow: hidden; /* Prevents image overflow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures space is distributed correctly */
  position: relative;
  transition: transform 0.2s;
  height: auto; /* Remove fixed height and let the card expand with content */
}

.attraction-card {
  min-height: 550px;
  max-height: 550px;
}

.my-attraction-card {
  min-height: 700px;
  max-height: 700px;
}

.attraction-card:hover {
  transform: translateY(-5px); /* Adds a subtle hover effect */
}

.image-container {
  width: 100%;
  height: 70%;
  object-fit: contain;
  background: lightgray;
  border-radius: 4px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image covers the area without distortion */
}

.attraction-type {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.learn-more-button {
  border-radius: 4px;
  background: lightgreen;
}

.name-description h5, .name-description p {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
}

.time {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.rating, .contact-info {
  position: absolute;
  bottom: 30px;
  right: 10px;
  font-size: 14px;
  color: #333;
  text-align: left;
}

.time p {
  margin: 0;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.filter-container {
  text-align: right;
  margin-top: 20px;
  margin-left: 4px;
}

.filter-container label {
  margin: 4px;
}

.register-business-main-container,
.account-details-main-container,
.my-attractions-main-container {
  display: flex;
  align-items: flex-start; /* Ensures both columns align at the top */
  justify-content: space-between; /* This places the items side by side */
}

.register-business-container,
.account-details-container,
.my-attractions-container {
  width: 80%;
  margin-right: auto;
  margin-top: 90px;
}

.my-attractions-container {
  margin-top: 72px;
}

.delete-button {
  text-align: center;
}

.delete-button button{
  background: red;
  border-radius: 4px;
}

.settings {
  display: flex;
  flex-direction: column; /* Stacks buttons vertically */
  align-items: end;
  margin: 74px 20px 0 0;
}

.settings-button {
  width: 200px; /* Set a fixed width or use a responsive approach */
  margin-top: 10px; /* Add some spacing between buttons */
}
